.modal_address_field
  .accept-btn
    margin-top: 15px
    button
      width: 100%

.address_description
  display: grid
  grid-template-columns: 1fr 0.02fr 1fr 0.02fr 1fr
  gap: 1em
  .label-address
    margin-top: 5px
    font-size: 18px