.container_btns_step
  text-align: right
.btn-step
  &__next
    position: relative
    margin-top: -2px
  &:hover
    &__next
      color: white

.btn-shadow
  box-shadow: 0 5px 15px rgba(32,41,83,.15), 0 15px 40px rgba(45,83,254,.2)

.circle-icon 
    // cursor: pointer
    background:#f7f7f7
    box-shadow: 0 5px 15px rgba(32,41,83,.15), 0 15px 40px rgba(45,83,254,.2)
    padding: 5px
    border-radius: 50%

.small-btn
  margin: auto
  height: 2em

.circle-button
  position: relative
  height: 45px
  width: 45px
  border-radius: 55px
  .circle-btn-icon
    position: absolute
    margin-top: -18px
    margin-left: -19px

