.card-shadow 
    background: white
    border-radius: 2px
    padding: 15px
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 10px rgba(0, 0, 0, 0.12)
    
.familiar_step__card
    background: white
    border-radius: 2px
    padding: 15px
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 10px rgba(0, 0, 0, 0.12)
    .title_container
        border-bottom: 1px solid #d8d8d8
        margin-bottom: 7px
    .title
        text-align: center
    .familiar_info_container
        position: relative
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        padding: 5px