.gender_container
  text-align: center
.have_sons_container
  text-align: center

.hover_list
  background: #f2f2f2

.familiar_step_list
  &__headers
    position: relative
    display: grid
    align-items: center
    grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr 1fr 2fr
    border-bottom: 1px solid #d8d8d8
    background: #f2f2f2
    padding-top: 5px
  &__header_item
  &__container
    @media (min-width: 800px)
      position: relative
      display: grid
      grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr
      border-bottom: 1px solid #d8d8d8
      padding: 2px
  &__item
    margin-top: 10px
    padding: 5px
    display: grid
    grid-template-columns: 1fr 1fr
    border-bottom: 1px solid #d8d8d8
    @media (min-width: 800px)
      grid-template-columns: 1fr
      border-bottom: 0px solid #d8d8d8
  &__actions
    position: relative
    display: grid
    padding-top: 5px
    grid-template-columns: 1fr 1fr
    .success
      background:#28a745
    .danger
      background:#dc3545
.language_step_list
  &__headers
    position: relative
    display: grid
    align-items: center
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    border-bottom: 1px solid #d8d8d8
    background: #f2f2f2
    padding-top: 5px
  &__header_item
  &__container
    @media (min-width: 800px)
      position: relative
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr
      border-bottom: 1px solid #d8d8d8
      padding: 2px
  &__item
    margin-top: 10px
    padding: 5px
    display: grid
    grid-template-columns: 1fr 1fr
    border-bottom: 1px solid #d8d8d8
    @media (min-width: 800px)
      grid-template-columns: 1fr
      border-bottom: 0px solid #d8d8d8
  &__actions
    position: relative
    display: grid
    padding-top: 5px
    grid-template-columns: 1fr 1fr
    .success
      background:#28a745
    .danger
      background:#dc3545
.education_levels_step_list
  &__headers
    position: relative
    display: grid
    grid-template-columns: 1fr 1fr 
    border-bottom: 1px solid #d8d8d8
    background: #f2f2f2
    padding-top: 5px
  &__header_item
  &__container
    position: relative
    display: grid
    grid-template-columns: 1fr 1fr 
    border-bottom: 1px solid #d8d8d8
    padding: 2px
  &__content
    position: relative
    display: grid
    grid-template-columns: 1fr 1fr
  &__item_confirmation
    margin-top: 10px
    padding: 5px
    position: relative
    display: grid
    gap: 1em
    grid-template-columns: 1fr 1fr
    .confirmation
      text-align: center
  &__item_currently
    margin-top: 10px
    padding: 5px
    position: relative
    display: grid
    gap: 1em
    grid-template-columns: 1fr
    grid-column: span 2
  &__item
    margin-top: 10px
    padding: 5px
  // here
  &__item_container
    grid-column: span 2


  &__actions
    position: relative
    display: grid
    padding-top: 5px
    grid-template-columns: 1fr 1fr
    .success
      background:#28a745
    .danger
      background:#dc3545

.header-list
  display: inline
  @media (min-width: 800px)
    display: none

.header-content
  display: none
  @media (min-width: 800px)
    display: grid
