.has-error:focus
    border-color: #843534
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483

.has-error
    border-color: #a94442
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)

.message-has-error
    color: #a94442

.invalid
    color: #a94442

.has-success:focus
    border-color: #2b542c
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #67b168
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #67b168

.has-success
    border-color: #3c763d
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
.accept_terms_text
    text-align: justify

.home_type_title
    text-align: center

.familiars_form
    margin-bottom: 15px

    &__container_title
        border-bottom: 1px solid #39A4B4

    &__title
        text-align: left

    &__sub_title
        margin-bottom: 30px

.form-address
    &__input-container
        display: grid
        gap: 1em
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
        @media (min-width: 1200px)
            grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr

    .accept-btn
        button
            width: 100%
            @media (min-width: 1200px)
                width: 100px
            
            

