.information_personal
  &__container
    position: relative
    display: grid
    gap: 1em
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
    @media (min-width: 600px)
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
    .items
      // width: 240px
