.navbar-step
  position: relative
  margin-top: 15px
  margin-bottom: 15px
  &__title
    text-align: center
  &__items
    position: relative
    grid-template-columns: 1fr
    justify-items: center
    display: grid
    @media (min-width: 800px)
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
    .item
      text-align: center    
      display: none
      @media (min-width: 800px)
        display: inline
        &::after 
          position: absolute
          display: inline-block
          content: ''
          width: 20%
          height: 2px
          margin-top: -50px
          background: #39A4B4
          z-index: -1
        &:last-child:after
          content: none
      .title
        font-weight: 400px
    .item-active
      display: inline 
      .circle-icon
        background: #39A4B4

