@import Components/card
@import Components/container_info
@import Components/buttons
@import Components/forms
@import Components/containers
@import Components/information_personal
@import Components/navbar_step
@import Components/loanding
@import Components/step_thanks
@import Components/address_field


.center-text
  text-align: center
.item-right
	margin: 5px
	text-align: center

.fade-in 
	opacity: 1
	animation-name: fadeInOpacity
	animation-iteration-count: 1
	animation-timing-function: ease-in
	animation-duration: 1s

.action-text
	color: #39A4B4
	cursor: pointer

.dropdown-content
	z-index: 5

@keyframes fadeInOpacity 
	0% 
		opacity: 0
	
	100% 
		opacity: 1