.card-shadow {
  background: white;
  border-radius: 2px;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 10px rgba(0, 0, 0, 0.12);
}

.familiar_step__card {
  background: white;
  border-radius: 2px;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 10px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 10px rgba(0, 0, 0, 0.12);
}

.familiar_step__card .title_container {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 7px;
}

.familiar_step__card .title {
  text-align: center;
}

.familiar_step__card .familiar_info_container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
}

.container_info {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.container_check_accept_terms {
  text-align: center;
  margin-top: 15px;
}

.container_btns_step {
  text-align: right;
}

.btn-step__next {
  position: relative;
  margin-top: -2px;
}

.btn-step:hover__next {
  color: white;
}

.btn-shadow {
  -webkit-box-shadow: 0 5px 15px rgba(32, 41, 83, 0.15), 0 15px 40px rgba(45, 83, 254, 0.2);
          box-shadow: 0 5px 15px rgba(32, 41, 83, 0.15), 0 15px 40px rgba(45, 83, 254, 0.2);
}

.circle-icon {
  background: #f7f7f7;
  -webkit-box-shadow: 0 5px 15px rgba(32, 41, 83, 0.15), 0 15px 40px rgba(45, 83, 254, 0.2);
          box-shadow: 0 5px 15px rgba(32, 41, 83, 0.15), 0 15px 40px rgba(45, 83, 254, 0.2);
  padding: 5px;
  border-radius: 50%;
}

.small-btn {
  margin: auto;
  height: 2em;
}

.circle-button {
  position: relative;
  height: 45px;
  width: 45px;
  border-radius: 55px;
}

.circle-button .circle-btn-icon {
  position: absolute;
  margin-top: -18px;
  margin-left: -19px;
}

.has-error:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.message-has-error {
  color: #a94442;
}

.invalid {
  color: #a94442;
}

.has-success:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.has-success {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.accept_terms_text {
  text-align: justify;
}

.home_type_title {
  text-align: center;
}

.familiars_form {
  margin-bottom: 15px;
}

.familiars_form__container_title {
  border-bottom: 1px solid #39A4B4;
}

.familiars_form__title {
  text-align: left;
}

.familiars_form__sub_title {
  margin-bottom: 30px;
}

.form-address__input-container {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

@media (min-width: 1200px) {
  .form-address__input-container {
    -ms-grid-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  }
}

.form-address .accept-btn button {
  width: 100%;
}

@media (min-width: 1200px) {
  .form-address .accept-btn button {
    width: 100px;
  }
}

.gender_container {
  text-align: center;
}

.have_sons_container {
  text-align: center;
}

.hover_list {
  background: #f2f2f2;
}

.familiar_step_list__headers {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 0.5fr 1fr 1fr 1fr 1fr 2fr;
      grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr 1fr 2fr;
  border-bottom: 1px solid #d8d8d8;
  background: #f2f2f2;
  padding-top: 5px;
}

@media (min-width: 800px) {
  .familiar_step_list__container {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #d8d8d8;
    padding: 2px;
  }
}

.familiar_step_list__item {
  margin-top: 10px;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #d8d8d8;
}

@media (min-width: 800px) {
  .familiar_step_list__item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    border-bottom: 0px solid #d8d8d8;
  }
}

.familiar_step_list__actions {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding-top: 5px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.familiar_step_list__actions .success {
  background: #28a745;
}

.familiar_step_list__actions .danger {
  background: #dc3545;
}

.language_step_list__headers {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid #d8d8d8;
  background: #f2f2f2;
  padding-top: 5px;
}

@media (min-width: 800px) {
  .language_step_list__container {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #d8d8d8;
    padding: 2px;
  }
}

.language_step_list__item {
  margin-top: 10px;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #d8d8d8;
}

@media (min-width: 800px) {
  .language_step_list__item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    border-bottom: 0px solid #d8d8d8;
  }
}

.language_step_list__actions {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding-top: 5px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.language_step_list__actions .success {
  background: #28a745;
}

.language_step_list__actions .danger {
  background: #dc3545;
}

.education_levels_step_list__headers {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #d8d8d8;
  background: #f2f2f2;
  padding-top: 5px;
}

.education_levels_step_list__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #d8d8d8;
  padding: 2px;
}

.education_levels_step_list__content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.education_levels_step_list__item_confirmation {
  margin-top: 10px;
  padding: 5px;
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.education_levels_step_list__item_confirmation .confirmation {
  text-align: center;
}

.education_levels_step_list__item_currently {
  margin-top: 10px;
  padding: 5px;
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column: span 2;
}

.education_levels_step_list__item {
  margin-top: 10px;
  padding: 5px;
}

.education_levels_step_list__item_container {
  grid-column: span 2;
}

.education_levels_step_list__actions {
  position: relative;
  display: -ms-grid;
  display: grid;
  padding-top: 5px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.education_levels_step_list__actions .success {
  background: #28a745;
}

.education_levels_step_list__actions .danger {
  background: #dc3545;
}

.header-list {
  display: inline;
}

@media (min-width: 800px) {
  .header-list {
    display: none;
  }
}

.header-content {
  display: none;
}

@media (min-width: 800px) {
  .header-content {
    display: -ms-grid;
    display: grid;
  }
}

.information_personal__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

@media (min-width: 600px) {
  .information_personal__container {
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.navbar-step {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar-step__title {
  text-align: center;
}

.navbar-step__items {
  position: relative;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  display: -ms-grid;
  display: grid;
}

@media (min-width: 800px) {
  .navbar-step__items {
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.navbar-step__items .item {
  text-align: center;
  display: none;
}

@media (min-width: 800px) {
  .navbar-step__items .item {
    display: inline;
  }
  .navbar-step__items .item::after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 20%;
    height: 2px;
    margin-top: -50px;
    background: #39A4B4;
    z-index: -1;
  }
  .navbar-step__items .item:last-child:after {
    content: none;
  }
}

.navbar-step__items .item .title {
  font-weight: 400px;
}

.navbar-step__items .item-active {
  display: inline;
}

.navbar-step__items .item-active .circle-icon {
  background: #39A4B4;
}

.loanding {
  position: relative;
}

.loanding .loanding__container {
  margin: 0;
  position: absolute;
  margin-top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.step_thanks {
  margin: 50px;
  text-align: center;
}

.modal_address_field .accept-btn {
  margin-top: 15px;
}

.modal_address_field .accept-btn button {
  width: 100%;
}

.address_description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.02fr 1fr 0.02fr 1fr;
      grid-template-columns: 1fr 0.02fr 1fr 0.02fr 1fr;
  gap: 1em;
}

.address_description .label-address {
  margin-top: 5px;
  font-size: 18px;
}

.center-text {
  text-align: center;
}

.item-right {
  margin: 5px;
  text-align: center;
}

.fade-in {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.action-text {
  color: #39A4B4;
  cursor: pointer;
}

.dropdown-content {
  z-index: 5;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */